---
import BlogLayout from '@/layouts/BlogLayout.astro'
import ArticlesList from '@/components/articles/ArticlesList.astro'
import BlogAboutCallout from '@/components/articles/BlogAboutCallout.astro'
import { getRecentPosts } from '@/lib/getRecentPosts'

const PER_PAGE = Number(import.meta.env.ARTICLES_PER_PAGE)
const { articles, totalPages } = await getRecentPosts({ count: PER_PAGE })

// The browser should always check freshness
Astro.response.headers.set("cache-control", "public, max-age=0, must-revalidate");

// The CDN should cache for a year, but revalidate if the cache tag changes
Astro.response.headers.set("netlify-cdn-cache-control", "s-maxage=31536000");

// Tag the page with the content type
Astro.response.headers.set("netlify-cache-tag", "blog");
---

<BlogLayout title="Blog - Adam Fortuna" description="Every blog post I've written across a few different sites">
  <h1 class="font-handwriting text-6xl text-blue-700 mb-2">Blog</h1>
  <BlogAboutCallout />
  <ArticlesList articles={articles} url="/blog/all" page={1} totalPages={totalPages} showSeparator={true} />
</BlogLayout>