---
import Af from '../../../assets/af.svg'
import Minafi from '../../../assets/minafi.svg'
import Hardcover from '../../../assets/hardcover.svg'
---
<div>
  <p class="font-handwriting text-4xl text-ablue-700 mb-4 underline underline-offset-4 decoration-yellow-300">
    Active Projects
  </p>

  <div class="space-y-1">
    <a
      href="/blog/projects/adamfortuna"
      class="flex flex-row items-center hover:bg-ablue-300/20 rounded space-x-4 p-2"
    >
      <Af class="w-10 h-10 text-ablue-700" />
      <div class="flex flex-col">
        <span class="font-bold text-xl text-ablue-700">Adam Fortuna</span>
        <span class="text-ablue-200 font-semibold">This site. So meta.</span>
      </div>
    </a>

    <a
      href="/blog/projects/hardcover"
      class="flex flex-row items-center hover:bg-ablue-300/20 rounded space-x-4 p-2"
    >
      <Hardcover class="w-10 h-10 text-ablue-700" />
      <div class="flex flex-col">
        <span class="font-bold text-xl text-ablue-700">Hardcover</span>
        <span class="text-ablue-200 font-semibold">A social network for readers</span>
      </div>
    </a>

    <a
      href="/blog/projects/minafi"
      class="flex flex-row items-center hover:bg-ablue-300/20 rounded space-x-4 p-2"
    >
      <Minafi class="w-10 h-10 text-ablue-700" />
      <div class="flex flex-col">
        <span class="font-bold text-xl text-ablue-700">Minafi</span>
        <span class="text-ablue-200 font-semibold">FIRE & finance blog</span>
      </div>
    </a>
  </div>
</div>
