---
import Cloud from '../assets/cloud.svg'
---

<div class="bg-sky-200 mt-12 md:pt-4 pb-8">
  <div class="h-16 md:h-24 lg:h-32 xl:h-48 overflow-hidden md:-mt-[40px] relative  rotate-180">
    <Cloud class="w-full xl:bg-cover relative" />
    <div class="sm:hidden bg-white absolute bottom-0 h-8 md:h-2 w-full" />
  </div>
</div>
