---
import Container from "./Container.astro"
import InteractiveMountain from './react/InteractiveMountain/index.tsx'
import { Icon } from 'astro-icon/components'
import Mountains from './react/InteractiveMountain/mountains.svg'
---
<div class="relative h-screen">
  <InteractiveMountain client:load>
    <Mountains class="h-screen overflow-hidden xl:h-auto xl:bg-cover" />
  </InteractiveMountain>
  <Container className="relative pt-20 pb-4 sm:pb-16 md:pt-32 lg:pt-48 text-black max-w-4xl lg:max-w-5xl xl:max-w-6xl px-4 lg:px-0 lg:mx-auto">
    <p class="font-display text-5xl font-medium tracking-tight sm:text-7xl relative space-x-4">
      <span class="font-handwriting">Hey hey!</span>
      <span class="animate-waving-hand inline-block">👋</span>
    </p>
    <p class="mt-10 max-w-xl text-2xl leading-10">
      I'm <span class="font-bold">Adam Fortuna,</span> a full-stack product developer living in Salt Lake City,
      UT.
      <a
        href="/about"
        class="sm:hidden text-lg ml-2 underline underline-offset-2 text-sky-800 hover:bg-sky-600"
      >
        Read more 👉
      </a>
    </p>
    <div class="mt-4 max-w-xl text-2xl leading-10">
      <p class="hidden md:block">
        I enjoy <span class="font-bold">enlivening experiences</span>,{' '}
        <span class="font-bold">quantifying data</span> and{' '}
        <span class="font-bold">making playful websites</span>.
      </p>
      <ul class="mt-4 space-x-2 flex flex-row">
        <li>
          <a
            href="https://hardcover.app/@adam"
            class="block p-2 hover:bg-sky-200 rounded-lg justify-center hover:hover:mix-blend-darken"
            target="_blank"
            rel="noreferrer"
            title="Hardcover"
          >
            <Icon name="brands/hardcover" class="h-8 w-8" />
          </a>
        </li>
        <li>
          <a
            href="https://bsky.app/profile/adamfortuna.com"
            class="block p-2 hover:bg-sky-200 rounded-lg justify-center hover:hover:mix-blend-darken"
            target="_blank"
            rel="me"
            title="Bluesky"
          >
            <Icon name="brands/bluesky" class="h-8 w-8" />
          </a>
        </li>
        <li>
          <a
            href="https://letterboxd.com/adamfortuna"
            class="block p-2 hover:bg-sky-200 rounded-lg justify-center hover:hover:mix-blend-darken"
            target="_blank"
            rel="me"
            title="Mastodon"
          >
            <Icon name="brands/letterboxd" class="h-8 w-8" />
          </a>
        </li>
        <li>
          <a
            href="https://github.com/adamfortuna"
            class="block p-2 hover:bg-sky-200 rounded-lg justify-center hover:hover:mix-blend-darken"
            target="_blank"
            rel="noreferrer"
            title="GitHub"
          >
            <Icon name="brands/github" class="h-8 w-8" />
          </a>
        </li>
      </ul>
    </div>
  </Container>
</div>