---
import Container from "./Container.astro"
import InteractiveMountain from './react/InteractiveMountain/index.tsx'
import { Icon } from 'astro-icon/components'
import Mountains from './react/InteractiveMountain/mountains.svg'
---
<div class="relative h-screen">
  <InteractiveMountain client:load>
    <Mountains class="h-screen overflow-hidden xl:h-auto xl:bg-cover" />
  </InteractiveMountain>
  <Container className="relative pt-20 pb-4 sm:pb-16 md:pt-32 lg:pt-48 text-black max-w-4xl lg:max-w-5xl xl:max-w-6xl px-4 lg:px-0 lg:mx-auto">
    <p class="font-display text-5xl font-medium tracking-tight sm:text-7xl relative space-x-4">
      <span class="font-handwriting">Hey hey!</span>
      <span class="animate-waving-hand inline-block">👋</span>
    </p>
    <p class="mt-10 max-w-xl text-2xl leading-10">
      I'm <span class="font-bold">Adam Fortuna,</span> a full-stack product developer living in Salt Lake City,
      UT.
      <a
        href="/about"
        class="sm:hidden text-lg ml-2 underline underline-offset-2 text-sky-800 hover:bg-sky-600"
      >
        Read more 👉
      </a>
    </p>
    <div class="mt-4 max-w-xl text-2xl leading-10">
      <p class="hidden md:block">
        I enjoy <span class="font-bold">enlivening experiences</span>,{' '}
        <span class="font-bold">quantifying data</span> and{' '}
        <span class="font-bold">making playful websites</span>.
      </p>
      <ul class="space-x-2 inline-block">
        <li class="inline">
          <a
            href="https://hardcover.app/@adam"
            class="group p-1 hover:bg-sky-200 rounded-lg"
            target="_blank"
            rel="noreferrer"
            title="Hardcover"
          >
            <Icon name="brands/hardcover" class="inline h-8 w-8" />
          </a>
        </li>
        <li class="inline">
          <a
            href="https://bsky.app/profile/adamfortuna.com"
            class="group p-1 hover:bg-sky-200 rounded-lg"
            target="_blank"
            rel="me"
            title="Mastodon"
          >
            <Icon name="brands/bluesky" class="inline h-88 w-8 fill-bluesky group-hover:fill-indigo-700" />
          </a>
        </li>
        <li class="inline">
          <a
            href="https://ruby.social/@adam"
            class="group p-1 hover:bg-sky-200 rounded-lg"
            target="_blank"
            rel="me"
            title="Mastodon"
          >
            <Icon name="brands/mastodon" class="inline h-88 w-8 fill-indigo-600 group-hover:fill-indigo-700" />
          </a>
        </li>
        <li class="inline">
          <a
            href="https://letterboxd.com/adamfortuna"
            class="group p-1 hover:bg-sky-200 rounded-lg"
            target="_blank"
            rel="me"
            title="Mastodon"
          >
            <Icon name="brands/letterboxd" class="inline h-8 w-8 " />
          </a>
        </li>
        <li class="inline">
          <a
            href="https://github.com/adamfortuna"
            class="group p-1 hover:bg-sky-200 rounded-lg"
            target="_blank"
            rel="noreferrer"
            title="GitHub"
          >
            <Icon name="brands/github" class="inline h-8 w-8 fill-black group-hover:fill-gray-700" />
          </a>
        </li>
      </ul>
    </div>
  </Container>
</div>